.root
{
-fx-font-family: Helvetica;
}
.AnchorPane
{
-fx-background-color: #F3F5FA;
}
.button
{
-fx-background-color: #008E97;
-fx-background-radius: 0;
-fx-font-size: 15px;
-fx-prefWidth: 250px;
-fx-text-fill: white;
-fx-font-weight: 600;

}
.button:hover
{
-fx-background-color: #117F98;
}
.label
{
-fx-text-fill: transparent;
}
#button7
{
-fx-background-color: #F58220;
}
#button2
{
-fx-background-color: #F58220;
}
#button8
{
-fx-background-color: #F58220;
}
#button7:hover
{
-fx-background-color: #F69331;
}
#button2:hover
{
-fx-background-color: #F69331;
}
#button8:hover
{
-fx-background-color: #F69331;
}